<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Spring 練習問題 基礎編 Practice3-01</h1>

GETとPOSTの違い
<hr>
<p>
<h4>GET送信:今の気分はどの色？</h4>
<form th:action="@{/send/get_method}" method="get">
<label><input type="radio" name="color" value="red"/>赤</label>
<label><input type="radio" name="color" value="orange"/>オレンジ</label>
<label><input type="radio" name="color" value="yellow"/>黄</label>
<label><input type="radio" name="color" value="green"/>緑</label>
<label><input type="radio" name="color" value="blue"/>青</label>
<label><input type="radio" name="color" value="purple"/>紫</label>
<label><input type="submit" value="今の気分の色を回答" />
</form>
</p>
<hr>
<p>
<h4>POST送信:今の気分はどの色？</h4>
<form th:action="@{/send/post_method}" method="post">
<label><input type="radio" name="color" value="red"/>赤</label>
<label><input type="radio" name="color" value="orange"/>オレンジ</label>
<label><input type="radio" name="color" value="yellow"/>黄</label>
<label><input type="radio" name="color" value="green"/>緑</label>
<label><input type="radio" name="color" value="blue"/>青</label>
<label><input type="radio" name="color" value="purple"/>紫</label>
<label><input type="submit" value="今の気分の色を回答" />
</form>
</p>

</body>
</html>